  @font-face { font-family: Anurati; src: url('assets/Anurati-Regular.otf'); } 
  
  html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("assets/funky-lines.png");
  }

  #header {
    font-family: Anurati;
    font-size: 100px;
    text-shadow: 0px 0px 30px #301054;
  }

  #content {
    font-family: 'Karla', sans-serif;
    color: black;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #content>h1 {
    margin-bottom: 10px;
    font-family: Anurati;
    text-shadow: 0px 0px 15px #301054;
  }

  #content>h2 {
    margin: 0;
  }

  #content>h3 {
    margin-bottom: 35px;
  }

  #buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icon {
    width: 50px;
    height: 50px;
    fill: black;
  }

  .shadow:hover {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 0px 0px 8px #301054 ); 
            filter: drop-shadow( 0px 0px 8px #301054 );
}

.coronaBanner {
  display: block;
  background-color: white;
  text-align: center;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.6em;
}

.coronaBanner__content {
  display: inline-block;
  text-align: left;
}

.coronaBanner__websiteLink {
  display: block;
}
.coronaBanner__websiteLinkImg {
  border: 0;
}

.coronaBanner__hotlineLink,
.coronaBanner__whatsappLink {
  display: block;
  text-decoration: none;
  color: #e95211;
}
  .coronaBanner__hotlineLink:hover,
  .coronaBanner__whatsappLink:hover {
    text-decoration: underline;
  }
.coronaBanner__hotlineLink {
  font-weight: bold;
}
